<div class="mx-8 flex flex-col">
  <h4 class="my-8 text-sm text-lg font-bold text-center">
    Task Board ({{ currenntUser.organization }})
  </h4>
  <div class="flex justify-end mb-5">
    <app-input
      type="select"
      label="Sort Tasks"
      [form]="form"
      name="sort"
      [options]="sortOptions"
      (mchange)="sortTasks($event)"
    />
  </div>
  <div cdkDropListGroup class="grid grid-cols-4 gap-4">
    @for (taskStatus of tasksStatus.keys(); track $index) {
    <div class="tasks-container">
      <div class="flex justify-between">
        <h2 class="capitalize">{{ taskStatus }}</h2>
        @if (taskStatus == 'open') {
        <mat-icon (click)="openTaskModal()">add</mat-icon>
        }
      </div>

      <div
        cdkDropList
        [cdkDropListData]="tasksStatus.get(taskStatus)"
        class="task-list mt-4"
        id="{{ taskStatus }}"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of tasksStatus.get(taskStatus); track item) {
        <app-task-card
          (action)="onDropdownAction($event, item)"
          cdkDrag
          [task]="item"
        />
        }
      </div>
    </div>
    }
  </div>
</div>
