<div class="flex justify-center items-center h-screen w-full">
  <div class="auth__card w-full md:w-96" [formGroup]="form">
    @if (isSignUp) {
    <div class="grid gap-4">
      <h4 class="text-center font-bold">Signup</h4>
      <div class="form-group grid">
        <label>Username</label>
        <input formControlName="userName" type="text" />
      </div>

      <div class="form-group grid">
        <label>FullName</label>
        <input formControlName="fullName" type="text" />
      </div>

      <div class="form-group grid">
        <label>Email</label>
        <input formControlName="email" type="text" />
      </div>

      <div class="form-group grid">
        <label>Organization</label>
        <input formControlName="organization" type="text" />
      </div>
      <div class="form-group grid">
        <label>Password</label>
        <input formControlName="password" type="password" />
      </div>
      <button
        [disabled]="!form.valid || loading"
        (click)="signUp()"
        class="d-flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded disabled:opacity-25"
      >
        {{ "Submit" }}
      </button>

      <button (click)="toggleForm()" class="bg-white text-gray-800">
        Login
      </button>
    </div>
    } @else {
    <div class="grid gap-4">
      <h4 class="text-center font-bold">Login</h4>
      <div class="form-group grid">
        <label>Email</label>
        <input formControlName="email" type="text" />
      </div>

      <div class="form-group grid">
        <label>Password</label>
        <input formControlName="password" type="password" />
      </div>
      <button
        [disabled]="!loginValidator || loading"
        (click)="login()"
        class="d-flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded disabled:opacity-25"
      >
        {{ "Submit" }}
      </button>
      <button (click)="toggleForm()" class="bg-white text-gray-800">
        Create account
      </button>
    </div>
    }
  </div>
</div>
