.input {
  width: 100%;
  margin: 5px 0;
  border: 1px solid var(--Grey-300, #d0d5dd);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  display: flex;
  padding: 0 14px;
}
.active {
  border: 1px solid var(--Primary-Green-400, #00a45e);
  box-shadow: 0px 0px 0px 4px #e7fff5, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.dropdown {
  padding: 0 !important;
}

label {
  color: #344054;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.password-icon {
  display: flex;
  align-items: center;
}
.password-icon img {
  width: 16px;
  height: 16px;
}
.caret-icon {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

input,
textarea {
  --webkit-transform: translateZ(0) !important;
  padding: 8px 8px !important;
  width: 100%;
  border-radius: 8px;
  font-weight: 200 !important;
  line-height: 24px !important;
  color: var(--Grey-900, #101828);

  /* Input/Placeholder/Regular */
  font-family: "Geist_R" !important;
  font-size: 15px;
  font-style: normal;
}
input:focus,
textarea:focus {
  outline: none !important;
  border: none !important;
}
input::placeholder,
textarea::placeholder {
  color: #667085 !important;
}
select {
  --webkit-transform: translateZ(0) !important;
  --padding-top: 0 !important;
  --padding-start: 0 !important;
}
mat-select {
  border-radius: 8px;
  width: 100%;
  background: #fff;
}
::ng-deep .mat-mdc-select-trigger {
  padding: 8px 20px !important;
}

textarea {
  width: 100% !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.input-wrapper.sc-input-md {
  padding-top: 0 !important;
}
.dropdown {
  display: inline-block;
  position: relative;
  width: 100%;
}
.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background: #fff;

  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
}

.dropdown-focused {
  display: block;
}
.dropdown__item {
  margin: 6px 0;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  padding: 11px 20px !important;
}

.password-input input {
  border: none !important;
  margin-top: 0 !important;
}

.password-input {
  margin-top: 20px;
  margin-bottom: 0 !important;
  background: #fff !important;
  border: 0.5px solid #9276e0;
}

::ng-deep .mat-mdc-select-placeholder {
  color: var(--Grey-500, #667085) !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
::ng-deep .mat-mdc-select-arrow svg {
  margin-left: 10px;
}
