<div class="modal flex flex-col">
  <div
    class="modal_head w-full flex justify-between pl-6 pr-4 pt-4 mat-dialog-title"
  >
    <h2>{{ task ? "Edit Task" : "New Task" }}</h2>

    <div class="close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <mat-dialog-content>
    <div></div>
    <div class="grid mt-5 gap-4" [formGroup]="form">
      <div class="form-group grid">
        <label>Title</label>
        <input formControlName="title" type="text" />
      </div>
      <div class="form-group grid">
        <label>Description</label>
        <textarea formControlName="description"></textarea>
      </div>
      <div class="form-group grid">
        <label>Due Date</label>
        <input formControlName="dueDate" type="date" />
      </div>
      <button
        [disabled]="!form.valid"
        (click)="submitTask()"
        class="d-flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded disabled:opacity-25"
      >
        {{ "Submit" }}
      </button>
    </div>
  </mat-dialog-content>
</div>
