/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.mat-drawer-container {
  padding-top: 90px;
}
.cdk-overlay-pane {
  margin: 0 0 0 0 !important;
  box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.25) !important;
}
.cdk-overlay-container {
  position: fixed !important;
}
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed !important;
  z-index: 9999999 !important;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  background: #fff;
  margin: 40px 0 0 10px;
}
.cdk-global-overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
input,
textarea {
  padding: 8px;
  border: 2px solid gray;
  border-radius: 5px;
}
